#cover {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    background: transparent;
}

#login {
    background: #FFFFFF;
    width: 500px;
    height: 300px;
    margin-top: 60px;
    padding: 20px;
}